.topo{
    background-color: #00acc1;
    width: 100%;

}

.rodape{
    background-color: #00C853;
}

.button{
    height: 20px;
    margin-top:8px;
    margin-left:8px;
}

.botaoverm{
    margin-top: 15px;
}

.lixeira{
    height: 20px;
}